* text=auto
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
ffmpeg/bin/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
* text=auto
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf