/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
# /public
.env
*.log
.env.backup
.phpunit.result.cache
docker-compose.override.yml
bootstrap/cache/*.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# /public

/public/assets/exports/*
/public/assets/img/client/*
/public/assets/img/gallery/*
/public/assets/img/*
/public/assets/images/*
/public/assets/images/663020/*
/public/assets/upload/*
/public/assets/upload/complaints/*
/public/assets/upload/step2/*
/public/assets/upload_complaint/*
/public/assets/uploads/about/*
/public/assets/uploads/activity_photo_gallery/*
/public/assets/uploads/blogs/*
/public/assets/uploads/blogs/blog_cover/*
/public/assets/uploads/event_desc_img/*
/public/assets/uploads/events/*
/public/assets/uploads/events/event_cover/*
/public/assets/uploads/news/*
/public/assets/uploads/news/news_cover/*
/public/assets/uploads/news_desc_img/*
/public/assets/uploads/notice/*
/public/assets/uploads/photo_gallery/*
/public/assets/uploads/photo_gallery/gallery_cover/*
/public/assets/uploads/rti/*
/public/assets/uploads/rti/rti_cover/*
/public/assets/uploads/rti_desc_img/*
/public/assets/uploads/rti_page/*
/public/assets/uploads/story_desc_page/* 
/public/assets/uploads/vyapam/*

!/public/assets/img/client/.gitkeep
!/public/assets/img/client/.gitkeep
!/public/assets/img/.gitkeep
!/public/assets/images/.gitkeep
!/public/assets/images/663020/.gitkeep
!/public/assets/exports/.gitkeep
!/public/assets/upload/.gitkeep
!/public/assets/upload/complaints/.gitkeep
!/public/assets/upload/step2/.gitkeep
!/public/assets/upload-complaint/.gitkeep
!/public/assets/uploads/about/.gitkeep
!/public/assets/uploads/activity_photo_gallery/.gitkeep
!/public/assets/uploads/blogs/.gitkeep
!/public/assets/uploads/blogs/blog_cover/.gitkeep
!/public/assets/uploads/event_desc_img/.gitkeep
!/public/assets/uploads/events/.gitkeep
!/public/assets/uploads/events/event_cover/.gitkeep
!/public/assets/uploads/news/.gitkeep
!/public/assets/uploads/news/news_cover/.gitkeep
!/public/assets/uploads/news_desc_img/.gitkeep
!/public/assets/uploads/notice/.gitkeep
!/public/assets/uploads/photo_gallery/.gitkeep
!/public/assets/uploads/photo_gallery/gallery_cover/.gitkeep
!/public/assets/uploads/rti/.gitkeep
!/public/assets/uploads/rti/rti_cover/.gitkeep
!/public/assets/uploads/rti_desc_img/.gitkeep
!/public/assets/uploads/rti_page/.gitkeep
!/public/assets/uploads/story_desc_page/.gitkeep
!/public/assets/uploads/vyapam/.gitkeep

